footer {
    background-color: #45a1ff;
    bottom: 0;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 5px; 
    position: relative;
    width: 100%;
    transition: background-color 1s;

}

#NewSectionStyles {
    padding: 50px;
    
}

#footer-hover:hover{
    background-color:#a6d2ff;
    
}

#contact-div{
    display: flex;
    justify-content: center; 

}
#nameStyles{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 10px;
}

body{
    background-color: #567189;
    
    /*background color schemes
    567189,7B8FA1,CFB997,FAD6A5 */
}

hr{
   
    border-style: none none dotted none;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}

table{
    border-spacing: 5px;
}
img{
    height: 30%;
    width: 30%;
}

 
    
h1 {
    color:#CFB997;
}
h2{
    color:#d6a459;
}
